<template>
  <div
    id="e3"
    style="max-width: 700px; margin-left: auto; margin-top: 70px; margin-right: auto"
  >
      <v-container
        grid-list-lg
      >
        <v-layout row wrap="">
          <v-flex xs12>
            <v-card light="">
              <v-layout>
                <v-flex xs7>
                  <v-card-title primary-title>
                    <div>
                      <div class="display-1">
                        <router-link to="room" style="text-decoration: none; color: black;">
                          R202 Room
                        </router-link>
                      </div>
                      <div>1 door</div>
                    </div>
                  </v-card-title>
                </v-flex>
              </v-layout>
              <v-divider light></v-divider>
              <v-card-actions class="pa-3">
                <v-chip class="white--text" color="blue">
                  <v-icon>videocam</v-icon>
                </v-chip>
                <v-chip class="white--text" color="orange">
                  <v-icon>wifi_tethering</v-icon>
                </v-chip>
                <v-chip class="white--text" color="secondary">
                  <v-icon>dialpad</v-icon>
                </v-chip>
                <v-spacer></v-spacer>
                <v-btn dark round="" color="teal lighten-2">open</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex xs12>
            <v-card light>
              <v-layout row>
                <v-flex xs7>
                  <v-card-title primary-title>
                    <div>
                      <div class="display-1">R200 Room</div>
                      <div>3 doors</div>
                    </div>
                  </v-card-title>
                </v-flex>
              </v-layout>
              <v-divider light></v-divider>
              <v-card-actions class="pa-3">
                <v-chip class="white--text" color="secondary">
                  <v-icon>dialpad</v-icon>
                </v-chip>
                <v-spacer></v-spacer>
                <v-btn dark round="" color="teal lighten-2">open</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      username: 'username',
      rooms: [
        { title: 'R202 Room',
          device: '1',
          doors: [
            {
              title: 'Front Door'
            }
          ]
        },
        {
          title: 'R200 Room',
          device: '3',
          doors: [
            {
              title: 'Front Door'
            },
            {
              title: 'Middle Door'
            },
            {
              title: 'Back Door'
            }
          ]
        }
      ]
    }
  }
}
</script>
