<template>
  <div>
    <template>
    <!-- toolbar here -->
      <v-toolbar dark="" color="teal lighten-2" absolute app="" v-if="isAuthenticated" scroll-toolbar-off-screen scroll-off-screen scroll-threshold>
        <v-toolbar-side-icon @click.stop="drawer = !drawer">
          <v-icon>menu</v-icon>
            </v-toolbar-side-icon>
              <v-toolbar-title>
                <router-link to="/" tag="span" style="cursor: pointer">
                  Pichayon
                </router-link>
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon>
                <v-icon>search</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>help_outline</v-icon>
              </v-btn>
              <!-- <v-menu :nudge-bottom="50" offset-x="" text-xs-center>
                <v-btn icon slot="activator">
                  <v-icon>more_vert</v-icon>
                </v-btn>
                <v-card width="">
                  hello
                </v-card>
              </v-menu> -->
              <v-menu
                :close-on-content-click="false"
                nudge-bottom="55"
                nudge-left="50"
                :nudge-width="200"
                offset-x
              >
                <v-btn
                  slot="activator"
                  icon
                >
                  <v-icon>more_vert</v-icon>
                </v-btn>

                <v-card>
                  <v-list>
                    <v-list-tile avatar>
                      <v-list-tile-content>
                        <v-list-tile-title>Somboon Chagkhom</v-list-tile-title>
                        <v-list-tile-sub-title>Founder of Pichayon</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>

                  <v-divider></v-divider>

                  <v-list>
                    <v-list-tile @click="logout">
                      <v-list-tile-action>
                        Sign out
                      </v-list-tile-action>
                    </v-list-tile>
                  </v-list>
                </v-card>
              </v-menu>
        </v-toolbar>
        <!-- sidebar here -->
        <v-navigation-drawer v-model="drawer" temporary absolute width="250">
          <v-list>
            <v-list-tile>
              <v-list-tile-title>
                <h5 class="title">Menu</h5>
              </v-list-tile-title>
              <v-spacer></v-spacer>
              <v-list-tile-action>
                <v-btn flat icon @click.stop="drawer = !drawer"><v-icon>chevron_left</v-icon></v-btn>
              </v-list-tile-action>
            </v-list-tile>
            <v-divider></v-divider>
            <template v-for="(item, index) in items">
              <v-list-tile :to="item.path" :key="index">
                <v-list-tile-action>
                  <v-icon color="black">{{ item.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-navigation-drawer>
    </template>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      drawer: false,
      items: [{
        path: '/',
        router: true,
        title: 'Home',
        icon: 'home'
      },
      {
        path: '/rooms',
        router: true,
        title: 'Rooms',
        icon: 'meeting_room'
      }]
    }
  },
  methods: {
    logout () {
      console.log('logout')
      location.reload()
    }
  },
  computed: {
    isAuthenticated () {
      return this.$store.getters.isAuthenticated
    }
  }
}
</script>
