<template>
    <v-app dark>
        <v-content>
            <v-container text-xs-center fill-height="" fluid="">
                <v-layout row="" align-center="" justify-center="">
                    <v-flex xs12 sm8 md4>
                        <v-card light="">
                            <v-toolbar dark color="teal lighten-2" flat="">
                                <v-toolbar-title>
                                  Login
                                </v-toolbar-title>
                            </v-toolbar>
                            <v-container>
                                <form>
                                    <v-layout row="">
                                        <v-text-field
                                        color="teal lighten-2"
                                          v-model="loginForm.username"
                                          label="Username"
                                        >
                                        </v-text-field>
                                    </v-layout>
                                    <v-layout row="">
                                        <v-text-field
                                          color="teal lighten-1"
                                          v-model="loginForm.password"
                                          label="Password"
                                          type="password"
                                        >
                                        </v-text-field>
                                    </v-layout>
                                    <v-layout>
                                        <v-alert>
                                            {{ errorMsg }}
                                        </v-alert>
                                    </v-layout>
                                    <v-layout row="" justify-end="">
                                        <v-flex xs4>
                                            <router-link to="/register" style="text-decoration: none">
                                            <v-btn block="" depressed="" round="" color="light-blue" dark>
                                                register
                                            </v-btn>
                                            </router-link>
                                        </v-flex>
                                        <v-flex xs1></v-flex>
                                        <v-flex xs7>
                                            <v-btn block="" depressed="" round="" color="green lighten-1" dark @click="submit">
                                                login
                                            </v-btn>
                                        </v-flex>
                                    </v-layout>
                                </form>
                            </v-container>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import {EventBus} from '@/utils'
export default {
  data () {
    return {
      loginForm: {
        username: '',
        password: ''
      },
      errorMsg: ''
    }
  },
  methods: {
    login (payload) {
    //   console.log('in login methods')
      this.$store.dispatch('login', payload)
        .then(() => this.$router.push('/'))
      console.log('authenticate')
    },
    // validate (payload) {
    //   const path = `${API_URL}/users/login`
    //   axios.post(path, payload)
    // },
    submit (evt) {
      evt.preventDefault()
      const payload = {
        username: this.loginForm.username,
        password: this.loginForm.password
      }
      this.login(payload)
      console.log('finish')
    }
  },
  mounted () {
    EventBus.$on('failAuthentication', (msg) => {
      this.errorMsg = msg
    })
  },
  beforeDestroy () {
    EventBus.$off('failedAuthentication')
  }
}
</script>
