<template>
    <v-app dark>
        <v-content>
            <v-container text-xs-center fill-height="" fluid="">
                <v-layout row align-center="" justify-center="">
                    <v-flex xs12 sm8 md4>
                        <v-card light>
                            <v-toolbar dark color="teal lighten-2" flat="" >
                                <v-toolbar-title>
                                    Your Personal Info
                                </v-toolbar-title>
                            </v-toolbar>
                            <v-container >
                                <v-layout row>
                                    <v-alert>
                                        {{ errorMsg }}
                                    </v-alert>
                                </v-layout>
                                <v-layout row>
                                   <v-text-field v-model="registerForm.username" label="Username" required=""></v-text-field>
                                </v-layout>
                                <v-layout row>
                                    <v-text-field v-model="registerForm.first_name" label="First name" required=""></v-text-field>
                                </v-layout>
                                <v-layout row>
                                    <v-text-field v-model="registerForm.last_name" label="Last name" required=""></v-text-field>
                                </v-layout>
                                <v-layout row>
                                    <v-text-field v-model="registerForm.email" label="E-mail" required=""></v-text-field>
                                </v-layout>
                                <v-layout row>
                                    <v-text-field v-model="registerForm.password" label="Password" required="" type="password"></v-text-field>
                                </v-layout>
                                <v-layout row>
                                    <v-text-field v-model="registerForm.confirm_password" label="Confirm Password" required="" type="password"></v-text-field>
                                </v-layout>
                                <v-layout row>
                                    <v-alert outline v-model="alert_value" type="error">
                                        please fill the same password
                                    </v-alert>
                                </v-layout>
                                <v-layout row="" justify-center="">
                                    <v-flex xs7>
                                        <v-btn block="" depressed=""  round="" color="green lighten-1" dark @click="submit" type="submit">
                                            Submit
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import { EventBus } from '@/utils'
export default {
  data () {
    return {
      registerForm: {
        username: '',
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        confirm_password: ''
      },
      alert_value: false,
      errorMsg: ''
    }
  },
  methods: {
    register (payload) {
      console.log('in register method')
      this.$store.dispatch('register', payload)
        .then(() => this.$router.push('/'))
      console.log('the hell man')
    },
    submit (evt) {
      evt.preventDefault()
      if (this.registerForm.password === this.registerForm.confirm_password) {
        console.log('password confirm')
        const payload = {
          username: this.registerForm.username,
          password: this.registerForm.password,
          first_name: this.registerForm.first_name,
          last_name: this.registerForm.last_name,
          email: this.registerForm.email
        }
        console.log('send payload')
        this.register(payload)
        // this.submit_data(payload)
        console.log('submit the register')
      } else {
        this.alert_value = true
      }
    }
  },
  mounted () {
    EventBus.$on('failedRegistering', (msg) => {
      this.errorMsg = msg
    })
  },
  beforeDestroy () {
    EventBus.$off('failedRegistering')
  }
}
</script>
