<template>
  <div id="e3" style="margin-top: 60px">
    <v-container>
      <v-card flat="" light="">
        <v-toolbar  flat="" color="white">
          <v-toolbar-title>Rooms List</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-text-field color="teal" v-model="search" v-if="activeSearchForm" label="Search" single-line hide-details="">
          </v-text-field>
          <v-btn icon="" @click.stop="activeSearchForm = !activeSearchForm">
            <v-icon>search</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>add</v-icon>
          </v-btn>

        </v-toolbar>
        <v-divider></v-divider>
          <v-data-table
          :headers="headers"
          :items="rooms"
          :search="search"
          light
          >
          <template slot="items" slot-scope="props">
              <td>{{ props.item.name }}</td>
              <td class="text-xs-left">{{ props.item.admin }}</td>
              <td class="justify-start layout px-0">
                <v-icon small class="mr-2" @click="">
                  add
                </v-icon>
               </td>
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
          </v-alert>
          </v-data-table>
      </v-card>
    </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      activeSearchForm: false,
      headers: [
        {
          text: 'Rooms name',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        { text: 'Admin', value: 'admin' },
        { text: 'Action', value: 'name', sortable: false }
      ],
      rooms: [
        {
          name: 'R202',
          admin: 'Thanathip'
        },
        {
          name: 'R200',
          admin: 'Bongkot'
        },
        {
          name: 'R201',
          admin: 'Bongkot'
        },
        {
          name: 'R301',
          admin: 'Touchai'
        },
        {
          name: 'R204',
          admin: 'Sang'
        }
      ]
    }
  }
}
</script>
