<template>
  <div
    id="e3"
    style="margin-top: 50px;"
  >
      <v-container
        grid-list-lg
      >
        <v-layout row wrap="">
          <v-flex xs12 class="text-md-center">
            <div class="white--text display-2">R202</div>
          </v-flex>
          <v-flex xs12 md8>
            <v-card light="">
              <v-toolbar color="pink lighten-1" dark>
                <v-toolbar-title>History</v-toolbar-title>
              </v-toolbar>
              <v-layout row>
                <v-flex xs12>
                  <v-list two-line>
                    <template v-for="(item, index) in items">
                      <v-list-tile
                        :key="item.title"
                        avatar
                        ripple
                      >
                        <v-list-tile-content>
                          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                          <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                          <v-list-tile-action-text>{{ item.action }}</v-list-tile-action-text>
                        </v-list-tile-action>
                      </v-list-tile>
                      <v-divider
                        v-if="index + 1 < items.length"
                        :key="index"
                      ></v-divider>
                    </template>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-card>
            <v-flex xs12></v-flex>
            <v-flex xs12>
              <v-layout row justify-center>
                <v-flex xs6>
                  <v-card light="">
                    <v-toolbar color="pink lighten-1" dark>
                      <v-toolbar-title>Door</v-toolbar-title>
                    </v-toolbar>
                    <v-card-actions class="pa-3">
                      <v-chip class="white--text" color="blue">
                        <v-icon>videocam</v-icon>
                      </v-chip>
                      <v-chip class="white--text" color="orange">
                        <v-icon>wifi_tethering</v-icon>
                      </v-chip>
                      <v-chip class="white--text" color="secondary">
                        <v-icon>dialpad</v-icon>
                      </v-chip>
                      <v-spacer></v-spacer>
                      <v-btn dark round="" color="teal lighten-2">open</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-flex>
          <v-flex xs12 md1></v-flex>
          <v-flex xs12 md3>
            <v-card light>
              <v-toolbar color="pink lighten-1" dark>
                <v-toolbar-title>Member</v-toolbar-title>
              </v-toolbar>
              <v-layout row>
                <v-flex xs12>
                  <v-list dense>
                    <v-list-tile>
                      <v-list-tile-content>Dr. Thanathip</v-list-tile-content>
                      <v-list-tile-content class="align-end">Admin</v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>Somboon</v-list-tile-content>
                      <v-list-tile-content class="align-end">Sub-Admin</v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>Jakee</v-list-tile-content>
                      <v-list-tile-content class="align-end">Member</v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>Krittipod</v-list-tile-content>
                      <v-list-tile-content class="align-end">Member</v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>Krittawit</v-list-tile-content>
                      <v-list-tile-content class="align-end">Member</v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>Nutchasan</v-list-tile-content>
                      <v-list-tile-content class="align-end">Member</v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>Phudit</v-list-tile-content>
                      <v-list-tile-content class="align-end">Member</v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-card>
            <v-flex xs12></v-flex>
            <v-card light>
              <v-toolbar color="pink lighten-1" dark>
                <v-toolbar-title>Request</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip right="">
                  <v-btn icon slot="activator">
                    <v-icon>done_all</v-icon>
                  </v-btn>
                  <span>Accept all</span>
                </v-tooltip>
              </v-toolbar>
              <v-layout row>
                <v-flex xs12>
                  <v-list dense>
                    <v-list-tile>
                      <v-list-tile-content>Somboon</v-list-tile-content>
                      <v-list-tile-content class="align-end">
                        <v-layout row="">
                          <v-btn icon>
                            <v-icon color="green">done</v-icon>
                          </v-btn>
                          <v-btn icon>
                            <v-icon color="red">clear</v-icon>
                          </v-btn>
                        </v-layout>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>Jakee</v-list-tile-content>
                      <v-list-tile-content class="align-end">
                        <v-layout row="">
                          <v-btn icon>
                            <v-icon color="green">done</v-icon>
                          </v-btn>
                          <v-btn icon>
                            <v-icon color="red">clear</v-icon>
                          </v-btn>
                        </v-layout>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>Krittipod</v-list-tile-content>
                      <v-list-tile-content class="align-end">
                        <v-layout row="">
                          <v-btn icon>
                            <v-icon color="green">done</v-icon>
                          </v-btn>
                          <v-btn icon>
                            <v-icon color="red">clear</v-icon>
                          </v-btn>
                        </v-layout>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>Krittawit</v-list-tile-content>
                      <v-list-tile-content class="align-end">
                        <v-layout row="">
                          <v-btn icon>
                            <v-icon color="green">done</v-icon>
                          </v-btn>
                          <v-btn icon>
                            <v-icon color="red">clear</v-icon>
                          </v-btn>
                        </v-layout>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>Nutchasan</v-list-tile-content>
                      <v-list-tile-content class="align-end">
                        <v-layout row="">
                          <v-btn icon>
                            <v-icon color="green">done</v-icon>
                          </v-btn>
                          <v-btn icon>
                            <v-icon color="red">clear</v-icon>
                          </v-btn>
                        </v-layout>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>Phudit</v-list-tile-content>
                      <v-list-tile-content class="align-end">
                        <v-layout row="">
                          <v-btn icon>
                            <v-icon color="green">done</v-icon>
                          </v-btn>
                          <v-btn icon>
                            <v-icon color="red">clear</v-icon>
                          </v-btn>
                        </v-layout>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-card>
            <v-flex xs12></v-flex>
            <v-card light>
              <v-toolbar color="pink lighten-1" dark>
                <v-toolbar-title>Passcode</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip right="">
                  <v-btn icon slot="activator">
                    <v-icon>settings</v-icon>
                  </v-btn>
                  <span>Passcode Settings</span>
                </v-tooltip>
              </v-toolbar>
              <v-layout row>
                <v-flex xs12>
                  <v-list dense>
                    <v-list-tile>
                      <v-list-tile-content>18A45C</v-list-tile-content>
                      <v-list-tile-content class="align-end">
                        <v-layout row="">
                          <v-btn icon>
                            <v-icon color="blue">cached</v-icon>
                          </v-btn>
                        </v-layout>
                      </v-list-tile-content>
                    </v-list-tile>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
  </div>
</template>

<script>
export default {
  data () {
    return {
      selected: [2],
      items: [
        {
          action: '1-01-2019 12.00',
          title: 'Thanathip',
          subtitle: 'Promote Somboon to Room Sub-Admin.'
        },
        {
          action: '1-01.2019 13.05',
          title: 'Thanathip',
          subtitle: 'Open the Door.'
        },
        {
          action: '1-01-2019 13.20',
          title: 'Somboon',
          subtitle: 'Add Jakee to Room Member.'
        },
        {
          action: '1-01-2019 14.25',
          title: 'Jakee',
          subtitle: 'Open the Door.'
        },
        {
          action: '2-02-2019 8.00',
          title: 'Jakee',
          subtitle: 'Open the Door.'
        }
      ]
    }
  }
}
</script>
